CADDY_DOMAIN=your-transfer-zip-node.tld
CADDY_ACME_EMAIL=you@example.tld

SERVER_FORWARD_PORT=3050

# Your S3 bucket needs to be setup with CORS enabled for uploads.
# The node handles this automatically with the value you specify here.
# Split multiple values with , like so: https://transfer.zip,https://trnsf.to
BUCKET_CORS_ORIGINS=https://transfer.zip

# Secondary download domain (used in prod with trnsf.to, not recommended to use when self-hosting)!
DL_DOMAIN=