{
	# Where Caddy should send ACME e-mails
	email {$ACME_EMAIL}
}

${CADDY_DOMAIN} {
	# Forward everything to the Fastify container
	reverse_proxy server:3050 {
		header_up X-Real-IP {remote_host}
	}
}
