{
  "active": "hetzner",
  "providers": {
    "r2": {
      "s3": {
        "region":"auto",
        "endpoint": "https://<CLOUDFLARE_ACCOUNT_ID>.r2.cloudflarestorage.com",
        "credentials": {
          "accessKeyId": "",
          "secretAccessKey": ""
        }
      },
      "bucket": "<BUCKET_NAME>",
      "parallelWrites": 1,
      "partSizeMB": 128
    },
    "hetzner": {
      "s3": {
        "region":"nbg1",
        "endpoint": "https://<LOCATION>.your-objectstorage.com",
        "credentials": {
          "accessKeyId": "",
          "secretAccessKey": ""
        }
      },
      "bucket": "<BUCKET_NAME>",
      "parallelWrites": 4,
      "partSizeMB": 128
    },
    "local": {}
  },
  "lockTTL": 900000
}